.header {
    height: 3%;
    padding: 10px;
}

.status {
    float: left;
    width: 60%;
    height: 100%;
    display: table;
    background: #EEE;
    padding: 10px;
}

.status span {
    display: table-cell;
    vertical-align: middle;
}

.profile {
    display: table;
    float: right;
    width: 35%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    background: #EEE;
    padding: 10px;
}

.profile span {
    display: table-cell;
    vertical-align: middle;
}

.map {
    float: left;
    background: red;
    margin-top: 10px;
    margin-left: 10px;
}

.info {
    float: right;
    width: 55%;
    height: 70%;
    margin-right: 10px;
    padding: 10px;
}

.map-controls {
    width: 25%;
    height: 40%;
    background: #EEE;
}

.species {
    float: right;
    width: 50%;
    height: 90%;
}

.cell-info {
    float: left;
    margin-top: 10px;
    width: 25%;
    height: 50%;
    padding: 5px;
    background: #EEE;
}

h2 {
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    font-size: 1.2em;
}

.cell-info div {
    text-align: center;
    margin-left: 10px;
}

.cell-info div.label {
    float: left;
}

.cell-info div.value {
    float: right;
}

.map-controls {
    padding: 5px;
}

.map-control {
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.map-border {
    width: 90%;
    height: 90%;
}